/*------------MAIN-------------*/
html {
	width:100%;
	margin:0;
	background-color:black;
	font-family: 'Open Sans', sans-serif;
	color:white;
	scroll-behavior: smooth;
}
/*------------HEADER------------*/
header{
	width:100%;
}
#menu {
	display:flex;
	margin:auto;
	justify-content:center;
	text-transform: uppercase; /* pour mettre en majuscule */
	text-decoration: none; /* pour ne pas souligner le lien */
	color:white;
	background-color:#222222;
	padding :15px;
	border-radius :5px;
}
#menu ul {
	list-style :none;
	display:flex;
	margin:auto;
	padding:0;
}
#menu li {
	padding-right:90px;
	padding-left :90px;
	transition:all ease-out 0.3s;


}
#menu li:hover {
	transform:scale(1.05);
}
/*-----------BODY-------------*/

body {
}
#accueil {
	background-image:url("../images/Hamburg.jpg");
	background-repeat :no-repeat;
	width:100%;
	height:720px;
	display:flex;
	justify-content: center;
	padding-top :5px;
		  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

}
#pp {
	margin:0;
	width :200px;
	height:200px;
	border-radius :50%;
	transition:height 1s, width 1s;
}
#pp:hover {
	width:220px;
	height:220px;
}
#linkedin {	
	display: flex;
	height:40px;
	justify-content:center;
	text-decoration-line:none;
	color :white;

}
#linkedin img {
	width:60px;
	height:60px;
	border-style :solid;
	border-width:0px 0px 1px 0px;
	transition:height 1s, width 1s;
}
#linkedin>img:hover {
	height:65px;
	width:65px;
}
#accueil_container {
	display:flex;
	flex-direction :column;
	justify-content:center;
	text-align:center;
}
#menu a {
	text-decoration-line:none;
	color:white;

}
section {
	height:400px;
	border-radius:80%;

}
#boite {
	width :50%;
}
#text_container {
	width:50%;
	background-color :#222222;
}
#text_container h2 {
	text-align:center;
	margin-bottom:30px;
	border-style :solid;
	border-width:0px 0px 2px 0px;
}
	#compteur_container {
	width: 50%;
	display:flex;
	justify-content: center;
	text-align:center;
	background-image :url("../images/swegg2.jpg");
	background-size:100%;
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;

}
#grand_container {
	display:flex;
	width:100%;

}
.box {
	margin:auto;
  z-index: 9999;
}
#boutton {
	width:100%;
	text-align: center;
	padding-top:120px;

}
#boutton h2 {
	padding-bottom:19px;

}
#boutton a {
	text-transform:uppercase;
	text-decoration-line:none;
	background-color :white;
	padding :20px;
	color:black;
	margin:auto;
	transition :padding 1s, font-size 1s;

}
#boutton>a:hover{
	padding:25px;
	font-size:1.1em;
}
#ladivpourcentrer{
	width:50%;
	background-image :url("../images/swegg.jpg");
	background-size:100%;
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;

}
#hobbys h2  {
	text-align:center;
	margin:auto;
}
#hobbys {

	width:50%;
	background-image :url("../images/swegg6.jpg");
	background-size:100%;
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;


}
#hobbys li {
	list-style: none;
	padding-left:50px;
	padding-right:50px;
	display:flex;
	flex-direction:column;
	text-align:center;
	margin:0 auto;
}
#hobbys ul {
	display:flex;
	justify-content:center;
	padding:0;
	margin-top:130px;
}
#liste {
	width:50%;
	background-color :#222222;
}
#hobbys {
	padding-bottom:3px;
}
#hobbys i {
	size: 9px
}
.boite {
	width:100%;
	display:flex;
	margin-top:30px;
	margin-bottom:30px;
}
.text_column{
	width:25%;
	text-align:center;;
	border-style:solid;
	border-width:0px 2px 0px 0px;
	height:80px;
	justify-content: center;
	white-space: nowrap;



}
.text_column p{
	height:100%;
	display:flex;
	justify-content: center;
	margin-top:30px;
}

.text_box {
	width:75%;
	padding-left:3px;
}

}
/*----------FOOTER-----------*/
footer {
	height:70px;
	background-color:#222222;
	display:flex;
	flex-direction:right;
	border-style:solid;
	border-width:1px 0 0 0;
	margin:auto;
}
#copyright {
	width:100%;
	margin:auto;
	margin-left:5px;
	display:flex;
}
#copyright a {
	display:flex;
	justify-content:center;
	margin-left:1000px;
	margin-top:15px;
	text-decoration-line:none;
	color:white;
	border-style:solid;
	border-width:0px 0px 1px 0px;
}
/*#réseaux {
	width:10%;
	justify-content: center;
	text-align:center;

}
#réseaux a {

	text-decoration-line:none;
	color :white;
	justify-content: center;
	margin-left:1100px;
}
#réseaux i{
}*/
